<div class="contPet">
    <a href="https://www.spiced-academy.com/" target="_blank"><img src="/Spiced.png" alt=""></a>
    <h1>Spicedlings EDITION</h1>
</div>

<div id="signers">
    <h1>Signers</h1>
{{#rows}}
    
        <p class="signers">{{{firstname}}} {{{lastname}}} {{{age}}} <a href="/signers/{{{city}}}">{{{city}}}</a></p>
    
    
{{/rows}}
</div>